:root {
    --bg-color: #000;
    --primary-color: #fff;
    --secondary-color: #ff5900;
    --header-font: 'Barlow', sans-serif;
    --text-font: 'Poppins', sans-serif;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--text-font);
    color: var(--primary-color);
    letter-spacing: 0.02em;
    overflow-x: hidden;
    line-height: 1.6;
}

// html, body, ul, ol, li, fieldset, legend {
//     margin: 0;
//     padding: 0;
// } 

fieldset, img {
    border: 0;
}

li {
    list-style: none;
}

.poppins {
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6, p{
    font-family: var(--header-font);
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h4 {
    font-size: 2.5rem;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.brand img {
    width: 150px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

// * {
//   font-family: "Raleway";
//   box-sizing: border-box;
// }

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  height: 75px;
  padding: 1em;
  &::before {
    content: '';
    background-color: var(--bg-color);
    opacity: 0.3;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
      
  }
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--primary-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.btn {
    background: var(--secondary-color);
    border: none;
    padding: 0.5rem 2.5rem;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 1rem;
    display: inline-block;
    box-shadow: var(--shadow);
    &:hover {
        color: var(--primary-color);
        background: rgba(var(--secondary-color), 0);
    }
}

.line {
    width: 500px;
    border-left: 1px solid var(--primary-color);
    padding: 0 50px;
    h4 {
        line-height: 0.75;
    }
    p {
        margin-top: 25px;
    }
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
    .bg-video {
        min-width: 100%;
        min-height: 100vh;
    }
}

// Container
.container {
    display: flex;
    flex-direction: column;
}

.featured {
    width: 100%;
    height: 90vh;
    .featured-item {
        width: 600px;
        text-align: justify;
        position: relative;
        top: 150px;
        left: 250px;
        z-index: -5;
        .out-now {
            margin-bottom: 0;
        }
        .mv-summary {
            width: 375px;
        }
        .mv-title {
            letter-spacing: 0.5;
            text-shadow: var(--shadow);
        }
    }
}

.latest-movies {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    img {
        width: 250px;
        height: 350px;
        padding: 10px;
    }
}

.domestic-releases, .foreign-releases {
    align-items: center;
    justify-content: flex-start;
    // flex-wrap: nowrap;
}

.rls-align {
    margin-left: 250px;
}

.watch-all  {
    color: var(--secondary-color);
}

form {
    margin-left: 30px;
}

.filters {
    padding: 5px;
    width: 100px;
    background: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    font-family: inherit;
    font-weight: medium;
    &:hover {
    color: var(--primary-color);
    background: rgba(var(--secondary-color), 0);
    }
}

.latest-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-track {
        background: var(--bg-color);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--bg-color);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}

.domestic-releases p, .foreign-releases p {
    // margin-right: 500px;
    justify-content: space-between;
    width: 65%;
}

.drop-down {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.domestic-art-items, .foreign-art-items {
    position: relative;
    // width: 250px;
    // height: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--bg-color);
    /* background-color: var(--secondary-color); */
}

.domestic-art-items:hover .overlay, .foreign-art-items:hover .overlay {
    opacity: 0.7;
}

.quick-summary {
    color: var(--primary-color);
    width: 250px;
    font-size: 14px;
    padding: 0 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.promo {
    padding: 0;
    /* width: 90%; */
    height: 80%;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 480px 480px; */
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    'watch devices'
    'tv enjoy';
    .watch {
        grid-area: watch;
        padding: auto  50px  auto 30%;
        margin-left: 150px;
    }
    .devices {
        grid-area: devices;
        padding: 20px 20px 0 0;
        margin-right: 100px;
    }
    .tv {
        grid-area: tv;
        padding: 0 0 20px 20px;
        margin-bottom: 100px;
    }
    .enjoy {
        grid-area: enjoy;
        padding: auto 15% auto 30%;
        margin-bottom: 200px;
    }
}

.mySlides {
    display: none;
    img {
        vertical-align: middle;
        width: 100%;
        height: 80vh;
    }
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: auto;
  position: relative;
}

/* Caption text */
.text {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.coming-soon {
    position: relative;
    .play-video {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 155px;
        margin: 0 auto;
    }
    .overlay-text {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 10;
        a {
            font-size: 1.2rem;
            text-decoration: underline;
        }
    }
}

.active {
  background-color: var(--primary-color);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer {
    display: flex;
    flex-direction: column;
    .line {
        width: 100%;
        padding: 0 20px;
    }
    .newsletter-item, .btn-sub {
        height: 35px;
        background: var(--bg-color);
        font-family: var(--text-font);
        font-size: 16px;
        font-weight: 500;
    }
    
    ::placeholder {
        color: var(--primary-color);
    }
    
    .newsletter-item {
        width: 500px;
        padding: 20px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
    
    .btn-sub {
        width: 200px;
        padding: 8.5px 25px;
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
        text-transform: uppercase;
    }
    
    .copy-right{
        display: inline-block;
        font-size: 14px;
        margin: 30px 200px;
        color: gray;
    }
    
    .see-it{
        margin-left: 200px;
        .out-now {
            margin: 0;
            line-height: 0.8;
        }
        h2 {
            margin-bottom: 2rem;
        }
    }
    
    .newsletter {
        margin-left: 0;
    }

    .fab {
        padding: 10px;
        color: gray;
    } 
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }    
}


// MEDIA QUERY

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}