<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:500|Poppins:200" rel="stylesheet" />
    <title>Movidom - Rent, Buy, Watch Movies and TV Online</title>
    <link rel="stylesheet" href="template.css" />
</head>

<body>
    <!-- Top Nav Menu == Responsive -->
    <section class="top-nav">
        <div class="brand">
            <a class="logo" href="/movidom.ng"><img src="img/Movidom_Crop.png" alt="Movidom" /></a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li><a href="/index.html" id="current">Home</a></li>
            <li><a href="/stream-buy">Stream/Buy</a></li>
            <li><a href="#soon">Coming Soon</a></li>
            <li><a href="Catalog/catalog.html">Catalog</a></li>
            <li><a href="/About/About.html">About</a></li>
            <li><i class="fas fa-search"></i></li>
        </ul>
    </section>
</body>

</html>
